<html>
    <head>
        <title>Day of week</title>
    </head>
    <body>
        
        <em>Name: </em><%= Name %>
        <br>
        <img  src="<%= flag %>" alt="flag">
        <br>
        <em>Name: </em><%= Region %>
        <br>
        <em>Name: </em><%= CallingCode %>
        <br>
        <em>Name: </em><%= Languages %>
        <br>
        <em>Name: </em><%= Populatsion %>
        <br>
        <em>Name: </em><%= TopLevelDomain %>
        <br>
        <em>Name: </em><%= AlphaCode %>
        <br>
        <em>Name: </em><%= Currency %>
        <br>
        </p>
    </body>
</html>